@model MateuszowSKYSklep.Models.Game

@{
    ViewBag.Title = "Game details";
}

<div id="detailtop">
    <div id="detailtitle">
        Alan Wake
    </div>
    <div id="topinfo">
        <div id="topinfocontent">
            <div id="addtobasketbtn">
                Dodaj do koszyka
            </div>
            <div id="topinfocontenttext">
                <br />
                <br />Studio: Remedy Entertainment
                <br />
                <br />Data dodania: 16/01/2012

                <div id="priceinfo">
                    35.78$
                </div>
            </div>
        </div>
    </div>

    <div id="leftminiaturebtn">
        <img src="~/Content/Images/przycisklewo.png" />
    </div>
    <div id="topminiaturer">
        <ul id="topminiatures">
            <li class="topminiature"><img src="~/Content/Screens/1/ss1.jpg"/></li>
            <li class="topminiature"><img src="~/Content/Screens/1/ss2.jpg"/></li>
            <li class="topminiature"><img src="~/Content/Screens/1/ss3.jpg"/></li>
            <li class="topminiature"><img src="~/Content/Screens/1/ss4.jpg"/></li>
            <li class="topminiature"><img src="~/Content/Screens/1/ss5.jpg"/></li>
            <li class="topminiature"><img src="~/Content/Screens/1/ss6.jpg"/></li>
            <li class="topminiature"><img src="~/Content/Screens/1/ss7.jpg"/></li>
            <li class="topminiature"><img src="~/Content/Screens/1/ss8.jpg"/></li>
            <li class="topminiature"><img src="~/Content/Screens/1/ss9.jpg"/></li>
            <li class="topminiature"><img src="~/Content/Screens/1/ss10.jpg"/></li>
            <li class="topminiature"><img src="~/Content/Screens/1/ss1.jpg"/></li>
            <li class="topminiature"><img src="~/Content/Screens/1/ss2.jpg"/></li>
            <li class="topminiature"><img src="~/Content/Screens/1/ss3.jpg"/></li>
            <li class="topminiature"><img src="~/Content/Screens/1/ss4.jpg"/></li>
            <li class="topminiature"><img src="~/Content/Screens/1/ss5.jpg"/></li>
            <li class="topminiature"><img src="~/Content/Screens/1/ss6.jpg"/></li>
            <li class="topminiature"><img src="~/Content/Screens/1/ss7.jpg"/></li>
            <li class="topminiature"><img src="~/Content/Screens/1/ss8.jpg"/></li>
            <div style="clear: both;"></div>
        </ul>
    </div>
    <div id="rightminiaturebtn">
        <img src="~/Content/Images/przyciskprawo.png" />
    </div>

</div>