
@{
    ViewBag.Title = "Strona glowna MateuszowSKY";
}

    <div id="slider">
        <div id="slider-content">
            <div id="slider-left">
                <img src="@Url.Content("~/Content/Images/przycisklewo.png")" />
            </div>


            <div id="slider-right">
                <img src="@Url.Content("~/Content/Images/przyciskprawo.png")" />
            </div>
        </div>
    </div>

    <div id="random">
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <div style="clear: both;"></div>
        </ul>
    </div>

