
@{
    ViewBag.Title = "Kontakt";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<div class="sectiontitle">
    Kontakt
</div>
<div class="basebody">
    Tutaj powinny znajdować się informacje odnośnie kontaktu.
</div>
