
@{
    ViewBag.Title = "O nas";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<div class="sectiontitle">
    O nas
</div>
<div class="basebody">
    Tutaj powinny znajdować się informacje o sklepie.
</div>