
@{
    ViewBag.Title = "Regulamin";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<div class="sectiontitle">
    Regulamin
</div>
<div class="basebody">
    Tutaj powinny znajdować się informacje odnośnie regulaminu.
</div>