
@{
    ViewBag.Title = "Wysyłka";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<div class="sectiontitle">
    Wysyłka
</div>
<div class="basebody">
    Tutaj powinny znajdować się informacje odnośnie wysyłki.
</div>