#detailtop 
{
    position: relative;
    width: 960px;
    height: 480px;
    margin: 15px auto;
}

#detailtopbackground  
{
    height: 480px;
    width: 960px;
    position: absolute;
}

#detailtopbackground img 
{
    height: 480px;
    width: 960px;
}

#detailtitle 
{
    padding: 10px 60px 10px 30px;
    top: 40px;
    background-color: rgba(0,0,0,0.4);
    font-size: 30px;
    color: #ffffff;
    position: absolute;  
}

#detailtopinfo 
{
    float: right;
    width: 400px;
    height: 330px;
    /*background-color: rgba(0,0,0,0.4);*/
    padding-top: 30px;
}

#detailtopinfocontent 
{
    right: 25px;
    background-color: #32353a;
    width: 350px;
    height: 270px;
    padding-top: 30px;
    position: absolute;
}

#detailaddtobasket
{
    width: 300px;
    height: 50px;
    background-color: #ef4c45;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
}

#detailaddtobasket a 
{
    text-decoration: none;
    color: #ffffff;
}

#detailtopinfocontenttext 
{
    font-size: 15px;
    color: #ffffff;
    margin-left: 40px;   
    line-height: 30px; 
}

#detailpriceinfo 
{
    background-image: url('Images/pricebackground.png');
    float: right;
    height: 52px;
    width: 130px;
    position: absolute;
    bottom: 10px;
    right: -5px;
    font-size: 30px;
    padding-top: 18px;
    text-align: right;
    padding-right: 15px;
}

#detailbottomleft 
{
    width: 650px;  
    float: left;
    color: #ffffff;
}

#detailbottomlefttext 
{
    width: 590px;  
    background-color: #32353a;    
    padding: 30px;
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
}

#detailbottomright 
{
    width: 335px;  
    float: left;
    margin-bottom: 15px;
    margin-left: 15px;

    color: #ffffff;
}

.detailbottomtitle 
{
    width: 300px;
    height: 40px;
    background-color: #ef4c45;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;        
}

#detailbottomrighttext 
{
    width: 295px;  
    background-color: #32353a;    
    padding: 30px 20px;
    font-size: 15px;
    line-height: 30px;
    text-align: justify;
}

#editdetail {
    margin: 10px auto;
    background-color: #494d55;
    width: 80px;
    height: 30px;
    text-align: center;
}

#editdetail a {
    text-decoration: none;
    color: #ffffff;
    padding: 7px 17px;
}