html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

@font-face 
{
    font-family: 'Ubuntu-L';
    src: url('../Fonts/Ubuntu-L.ttf') format('truetype');
}

body 
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #554949;    
    font-family: 'Ubuntu-L';
    padding-top: 76px;
}

#nav 
{
    height: 76px;
    width: 100%; 
    background-color: #32353a;  
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #212429;
}

#header 
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#show
{
    float: left;
    height: 48px;
    padding: 14px;
    width: 48px;
    cursor: pointer;
    background-color: #494d55;
}

#search
{
    float: right;
    height: 76px;
    width: 76px;
    position: relative;
    background-color: #32353a;
}

#searchbutton {
    height: 50px;
    width: 50px;
    padding: 15px 11px 11px 15px;
    cursor: pointer;
}

#searchfilter
{
    font-size: 20px;
    width: 250px;
    background-color: #494d55;
    border: 10px solid #ef4c45;
    color: #ffffff;
    font-family: 'Ubuntu-L';
    height: 60px;
    margin-top: 5px;
    margin-left: 10px;
    position: absolute;
    right: -15px;
    top: 72px;
    display: none;
    border-radius: 10px;
}

#logo
{
    float: left;
    height: 50px;
    padding: 15px 15px 11px 15px;
    width: 220px;
    margin-left: 200px;
    /*background-color: #ef4c45;*/
    text-align: center;
}

#user
{
    float: right;
    height: 50px;
    width: 50px;
    padding: 15px 8px 11px 18px;
    cursor: pointer;
    position: relative;
}

#userbox {
    position: absolute;
    top: 78px;
    right: -50%;
    line-height: 30px;
    padding: 5px 10px;
    background-color: #ef4c45;
    border: 10px solid #ef4c45;
    border-radius: 10px;
    text-align: center;
    display: none;
    min-width: 200px;
}

#userbox a
{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

#cart
{
    float: right;
    height: 46px;
    padding: 15px;
    width: 100px;
    background-color: #ef4c45;
    color: #ffffff;
    font-family: 'Ubuntu-L';
    font-size: 40px;
    cursor: pointer;
    display: block;
}

#cartcount {
    float: left;
    color: #ffffff;
}

#cart img {
    float: left;
    margin-right: 10px;
}

ul
{
    list-style-type: none;   
}

nav#genre
{
    font-size: 22px; 
    background-color: #494d55;
    padding: 4px;
}

nav#genre ul li a
{
    height: 70px;
    width: 240px;
    background-color: #32353a;
    float: left;
    margin: 4px;
    text-decoration: none;
    color: #ef4c45;
}

nav#genre ul li a:hover 
{
    margin: 3px;
    height: 70px;
    width: 240px;
    background-color: #43464b;
    border: 1px solid #ef4c45;
}

.genres-img img 
{
    height: 40px;
    margin: auto;
    margin-top: 15px;
    display: block;
}

.genres-img 
{
    
    height: 70px;
    width: 70px;
    float: left;
}

.genres-text 
{
    margin-top: 22px;
}

#footer 
{    
    height: 75px;
    background-color: #32353a;    
}

#footer ul li a
{
    font-size: 20px;
    float: left;
    text-decoration: none;
    color: #ef4c45;
    display: block;
    height: 30px;
    margin: 2px 5px;
    padding: 20px;
}

#last-foot 
{
    float: right;
    font-size: 20px;
    text-decoration: none;
    color: #ef4c45;
    display: block;
    height: 30px;
    margin: 2px 5px;
    padding: 20px;
}

/*account section*/
.basebody {
    background-color: #32353a;
    margin: 0 20px 15px 20px;
    padding: 20px;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
}

.basebody input
{
    font-size: 20px;
    background-color: #494d55;
    border: none;
    color: #ffffff;
    height: 30px;
    font-family: 'Ubuntu-L';
    margin: 5px;
    padding-left: 5px;
}

.basebody a
{
    text-decoration: none;
    color: #ffffff;
}

.basebody a img {
    width: 250px;
    height: 140px;
}

.input-validation-error, .field-validation-error, .field-validation-valid, #login-error
{
    font-size: 12px;
}

#noaccountbutton
{
    margin: 20px 190px;
    padding: 10px;
    width: 210px;
    background-color: #494d55;
}

.basebody .submitLink {
    padding: 10px 15px;
    height: 42px;
    cursor: pointer;
    margin-left: -300px;
    margin-top: 20px;
}

#loginerror {
    margin-bottom: 20px;
}

#RememeberMe {
    margin-top: 10px;
    height: 13px;
}

.firstcolumn {
    text-align: left;
}

.userdatatable {
    margin-left: 50px;
}

.userdatatable textarea {
    font-size: 20px;
    background-color: #494d55;
    border: none;
    color: #ffffff;
    font-family: 'Ubuntu-L';
    margin: 5px;
    padding-left: 5px;
}

 .button-link {
    padding: 10px 15px;
     margin: 15px 10px;
    background-color: #494d55;
 }

/*cart*/
.cartposition {
    background-color: #494d55;
    padding: 10px;
    float: left;
    width: 900px;
    margin-bottom: 10px;
}

.cartposition img {
    float: left;
}

#total-price {
    float: left;
}

.carttable {
    float: left;
    margin-top: 45px;
    margin-left: 145px;
}

.carttable td{
    background-color: #32353a;
    padding: 10px;
}

.carttable a {
    padding: 10px;
}

/*manageorders*/

.orderstable {
    background-color: #32353a;
    width: 920px;
    padding: 1px;
    margin: 20px 0;
}

.orderstable td{
    background-color: #494d55;
    padding: 10px;
}

article {
    float: left;
    margin: 22px;
}