html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}

@font-face {
    font-family: 'YANONEKAFFEESATZ-LIGHT';
    src: url('../Fonts/YANONEKAFFEESATZ-LIGHT.OTF') format('opentype');
}

body 
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #554949;
    font-family: 'YANONEKAFFEESATZ-LIGHT';
}

#header 
{
    height: 76px;
    background-color: #32353a;   
}

#search
{
    float: left;
    height: 50px;
    padding: 13px;
    width: 365px;
}

#logo
{
    float: left;
    height: 50px;
    padding: 13px;
}

#user
{
    float: right;
    height: 50px;
    padding: 13px;
}

#basket
{
    float: right;
    height: 50px;
    padding: 13px;
}

ul
{
    list-style-type: none;   
}

nav#genre
{
    font-size: 26px; 
    background-color: #494d55;
    padding: 4px;
}

nav#genre ul li a
{
    height: 70px;
    width: 240px;
    background-color: #32353a;
    float: left;
    margin: 4px;
    text-decoration: none;
    color: #ef4c45;
}

nav#genre ul li a:hover 
{
    margin: 3px;
    height: 70px;
    width: 240px;
    background-color: #43464b;
    border: 1px solid #ef4c45;
}

.genres-img img 
{
    height: 40px;
    margin: auto;
    margin-top: 15px;
    display: block;
}

.genres-img 
{
    
    height: 70px;
    width: 70px;
    float: left;
}

.genres-text 
{
    margin-top: 18px;
}

#slider 
{
    width: 960px;
    height: 480px;
    margin: 15px auto;    
    background-color: #32353a;
    padding: 10px;
}

#slider-left 
{
    float: left;
    margin-left: 20px;
    margin-top: 150px;    
}

#slider-right 
{
    float: right;
    margin-right: 20px;
    margin-top: 150px;
}

#slider-content 
{
    width: 960px;
    height: 450px;
    background-color: #494d55;
    margin: 0 auto;
}

#random 
{
    margin: 15px 0;    
    background-color: #32353a;
    padding: 10px 20px 10px 20px;
}

#random ul li 
{
    height: 220px;
    width: 220px;
    background-color: #494d55;
    float: left;
    margin-left: 10px;
    margin-right: 10px;

}

#footer 
{    
    height: 75px;
    background-color: #32353a;    
}

#footer ul li a
{
    font-size: 20px;
    float: left;
    text-decoration: none;
    color: #ef4c45;
    display: block;
    height: 30px;
    margin: 2px 5px;
    padding: 20px;
}

#last-foot 
{
    float: right;
    font-size: 20px;
    text-decoration: none;
    color: #ef4c45;
    display: block;
    height: 30px;
    margin: 2px 5px;
    padding: 20px;
}