
@{
    ViewBag.Title = "Potwierdzenie zamówienia";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<div class="sectiontitle">
    Potwierdzenie zamówienia
</div>
<div class="basebody">
        Dziękujemy! Twoje zamówienie zostało wysłane!
</div>