
@{
    ViewBag.Title = "OrderConfirmation";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<h2>OrderConfirmation</h2>

<div style="margin-top: 100px; text-align: center">
    Dziękujemy! Twoje zamówienie zostało wysłane!
</div>